<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485673214731-2jakc7t47eu7ldd1040c43u5ksm2bgj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485673214731-2jakc7t47eu7ldd1040c43u5ksm2bgj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAQIkNWHo-ELw7DjzInjOed0CYQ2FHXjyE</string>
	<key>GCM_SENDER_ID</key>
	<string>485673214731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastcampus.LMessenger</string>
	<key>PROJECT_ID</key>
	<string>lmessenger-43a60</string>
	<key>STORAGE_BUCKET</key>
	<string>lmessenger-43a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485673214731:ios:ee99151032a2656db2380e</string>
</dict>
</plist>